# Project Specific
pipeline/data

# --- Node.js ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/
.env
.env.*.local
.cache/
.next/
out/

# Optional: logs
logs/
*.log
*.pid
*.seed
*.pid.lock

# --- Python ---
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec
*.sqlite3
.env
.venv/
venv/
ENV/
env/
pip-log.txt
pip-delete-this-directory.txt

# Optional: Jupyter notebooks and IPython
.ipynb_checkpoints/
.profile_default/
.ipython/

# OS-specific
.DS_Store
Thumbs.db

# PyInstaller
*.manifest
*.spec

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# VS Code settings
.vscode/
.history/

scraper/fbref_cache/Arsenal.html
scraper/fbref_cache/Aston-Villa.html
scraper/fbref_cache/Bournemouth.html
scraper/fbref_cache/Brentford.html
scraper/fbref_cache/Brighton.html
scraper/fbref_cache/Chelsea.html
scraper/fbref_cache/Crystal-Palace.html
scraper/fbref_cache/Everton.html
scraper/fbref_cache/Fulham.html
scraper/fbref_cache/Ipswich-Town.html
scraper/fbref_cache/Leicester-City.html
scraper/fbref_cache/Liverpool.html
scraper/fbref_cache/Manchester-City.html
scraper/fbref_cache/Manchester-United.html
scraper/fbref_cache/Newcastle-United.html
scraper/fbref_cache/Nottingham-Forest.html
scraper/fbref_cache/Southampton.html
scraper/fbref_cache/Tottenham.html
scraper/fbref_cache/West-Ham.html
scraper/fbref_cache/Wolves.html
