.accordion-body {
 background-color: white; /* temp */  
}

.accordion-body > div {
    display: flex;
    flex-direction: column;
}

.accordion-body > div > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.accordion-header button {
  color: #37003C !important;
}

/* If you want to style the entire header area */
.accordion-header {
  background-color: inherit;
}
